<input [(ngModel)]="movieName">
<app-movie [name]="movieName">
  <p #ppp>aksjdlkasjdkadk</p>
  <p #ppp>aksjdlkasjdkadk</p>
  <p #ppp>aksjdlkasjdkadk</p>
  <p #ppp>xxx</p>
  <div >
    <p #myParagraph ngProjectAs="some-paragraph">This is a paragraph inside the child component</p>
    <h1 #firstH1>Title</h1>
    <p>This is some content.</p>
    <span class="highlight">Highlighted Text</span>
  </div>
  <div ngProjectAs="some-div2">
    <h1>xxxxxx</h1>
    <p>This isasdwewqe content.</p>
    <span class="highlight">Highlighted Text</span>
  </div>
</app-movie>
